
      .profile-container {
        max-width: 600px;
        margin: auto;
        background: #fff;
        padding: 30px;
        border-radius: 16px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        font-family: "Rajdhani", sans-serif;
      }
      .profile-pic {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid #14d22d;
        margin-bottom: 15px;
      }
      .form-group {
        margin-bottom: 20px;
        text-align: left;
      }
      .form-group label {
        display: block;
        margin-bottom: 6px;
        font-weight: bold;
      }
      .form-group input {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid #14d22d;
      }
     .submit-btn:hover {
  background-color: #35b424;
}
.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 3%;
}
.submit-btn2 {
  width: 100%;
  padding: 12px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 3%;
}
     .submit-btn2:hover {
  background-color: #8d0404;
}
    